:root {
    /* ----- COLORS ----- */
    --gray: #DBDBDB;
    --green: #B5D335;
    --white: #ffffff;
    --background: #000000;
  
    /* ----- MOBILE TYPESCALES -----  */
    --h1_mobile: 4.1rem;
    --h2_mobile: 3.937rem;
    --p_mobile: 1.062rem;
  
    /* ----- TABLET TYPESCALES -----  */
    --h1_tablet: 5.312rem;
    --h2_tablet: 5rem;
    --p_tablet: 1.375rem;
  
  /* ----- DESKTOP TYPESCALES -----  */
    --h1_desktop: 5.625rem;
    --h2_desktop: 5.312rem;
    --p_desktop: 1.875rem;
}

body {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 
          "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
}

h1{
    font-size: var(--h1_mobile);
    line-height: 1;
}

p{
    font-size: var(--p_mobile);
    font-weight: 400;
    line-height: 1.3;
}

/* ----- HOME ----- */

.background-container {
    position: fixed;
    inset: 0;
    height: 100vh;
    z-index: -1;
}

/* ----- NAVBAR TEXT HOVER/FOCUS ----- */

.navbar-nav .nav-item a{
    position: relative;
    font-weight: bold;
    background-image: linear-gradient(to right, #B5D335 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a:focus{
    background-position: 0;
}

.navbar-nav .nav-item a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #B5D335;
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover:before,
.navbar-nav .nav-item a:focus:before {
    width: 100%;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23B5D335' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

hr {
    border: 2px solid var(--green);
    opacity: .7;
}












@media screen and (min-width: 992px){

    /* ----- NAVBAR DESKTOP ----- */

    .menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
      
    .menu-item, .menu-item-a {
        display: flex;
        align-items:center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
      
    .navbar-nav .nav-item a {
        white-space: normal;
    }

    .nav-item a{
        width: 7.812rem;
    }

}



@media screen and (max-width: 992px) {
    .offcanvas.bg-opa {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(30, 30, 30, .80)) !important;
    }

    .bg-op{
        background: linear-gradient(to right, rgba(30, 30, 30, .90), rgba(30, 30, 30, .80)) !important;
    }

}